@model IEnumerable<MyPoezd.Models.Wagon>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-secondary">Список вагонов</h2>
        </div>
        <div class="col-2 align-center">
            <a asp-controller="Wagons" asp-action="WagonsCreate" class="btn" style="background-color:#97a4e5">
                <i class="fa-solid fa-plus"></i> Добавить новый вагон
            </a>
        </div>
    </div>
    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Вагон
                    </th>
                    <th>
                        Взаимодействие
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var city in Model)
                {
                    <tr>
                        <td width="30%">@city.Id</td>
                        <td width="50%">@city.Name</td>
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Wagons" asp-route-Id="@city.Id" asp-action="WagonsEdit" class="btn mx-2" style="background-color:#c8c8c8">
                                    <i class="fa-solid fa-pen-to-square"></i> Изменить
                                </a>
                                <a asp-controller="Wagons" asp-route-Id="@city.Id" asp-action="Delete" class="btn mx-2" style="background-color:#97a4e5">
                                    <i class="fa-solid fa-trash-can"></i> Удалить
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else{
        <p>Городов в базе данных нет</p>
    }

</div>