<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap" rel="stylesheet">
    <title>@ViewData["Title"] - MyPoezd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css" />
    <link rel="stylesheet" href="~/MyPoezd.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="menu">
            <div class="name">
                <h1>мойпоезд</h1>
            </div>
            <div class="top_menu">
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" id="main">главная</a></li>
                    <li>
                        <div class="dropdown">
                            <button onclick="myFunction2()" class="dropbtn">профиль</button>
                            <div id="myDropdown" class="dropdown-content">

                                
                                   
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if ((User.IsInRole("Admin")))
                                        {
                                        <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Trains" asp-action="TrainsIndex" id="nast">Поезда</a>
                                        </div>
                                            <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Tickets" asp-action="TicketsIndex"id="nast">Билеты</a>
                                        </div>
                                                <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Cities" asp-action="CitiesIndex" id="nast">Города</a>
                                        </div>
                                                    <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Wagons" asp-action="WagonsIndex" id="nast">Вагоны</a>
                                        </div>
                                                        <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Routes" asp-action="RoutesIndex" id="nast">Маршруты</a>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Home" asp-action="PersonalArea" id="nast">Кабинет</a>
                                        </div>
                                        <div class="setting">
                                            <img id="set" src="~/images/setting.png.png" />
                                            <a asp-controller="Home" asp-action="HistoryOrder" id="nast">История билетов</a>
                                        </div>
                                        }
                                    }
                                    else
                                    {
                                    <div class="setting">
                                        <img id="set" src="~/images/setting.png.png" />
                                        <a asp-controller="Home" asp-action="Login" id="nast">Настройки</a>
                                        </div>
                                    }
                                
                                @if (User.Identity.IsAuthenticated)
                                {
                                    
                                        <a id="vhod" asp-controller="Home" asp-action="Logout">Выйти</a>
                                    
                                }
                                else
                                {
                                    <a id="vhod" asp-controller="Home" asp-action="Login">Войти</a>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>






    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ru.js"></script>
    <script data-require="MomentJS@2.10.0" data-semver="2.10.0" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
