@model User

   

<style>
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        /* Другие свойства стиля для контейнера box */
    }
</style>
<form method='post'>
        <div class="box" id="auto">
            <div class="container2">
                <div class="auto_img">
                    <img id="a_img" src="~/images/user2.png" />
                </div>
                <div class="top2">
                    <header>Войдите в профиль</header>
                </div>

                <div class="input-field">
                <input type="text" class="input" name="NumberPhone" placeholder="Номер телефона" id="">
                </div>
                <div class="input-field">
                    <input type="Password" class="input" name="password" placeholder="Пароль" id="">
                </div>
                <input type="submit" class="submit2" value="Войти">
                <div class="two-col">
                    <div class="one">
                        <p><a href="Registration" id="myLink">Eщё не с нами?</a></p>
                    </div>
                    <div class="two">
                        <p><a href="#">Забыли пароль?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
